google-api-core==2.19.1
google-api-python-client==2.135.0
google-auth==2.30.0
google-auth-httplib2==0.2.0
google-pasta==0.2.0
googleapis-common-protos==1.63.2
h5py==3.11.0
httplib2==0.22.0
huggingface-hub==0.23.4
Jinja2==3.1.4
keras==3.4.1
matplotlib==3.9.0
numpy==1.23.5
openai==0.28.0
openpyxl==3.0.10
pandas==1.5.3
pdfkit==1.0.0
pillow==10.4.0
plotly==5.22.0
protobuf==4.25.3
pyarrow==16.1.0
regex==2024.5.15
requests==2.32.3
scipy==1.14.0
sentencepiece==0.2.0
streamlit==1.36.0
termcolor==2.4.0
tf_keras==2.16.0
tokenizers==0.19.1
toml==0.10.2
toolz==0.12.1
tornado==6.4.1
tqdm==4.66.4
transformers==4.42.3
XlsxWriter==3.2.0
tensorflow==2.16.2





tensorboard==2.16.2
tensorboard-data-server==0.7.2



weasyprint
